@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: rgb(208, 180, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel {
    overflow: hidden;
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
}

#ptop {
    padding: 0 20%;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(145, 116, 97);
}

.box {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: white;
    color: rgb(105, 67, 42);
    font-weight: 700;
}

.elem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.elem h3 {
    font-weight: 500;
}

#pbottom {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
}

.bubble {
    width: 40px;
    height: 40px;
    background-color: rgb(145, 116, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
}

.bubble:hover {
    background-color: rgb(108, 86, 72);
}

#after-game-over {
    color: rgb(108, 74, 53);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#after-game-over h2 {
    color: rgb(145, 116, 97);
    font-size: 1.5rem; /* Adjusted font size */
}

#after-game-over button {
    padding: .8rem 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(92, 72, 60);
    color: white;
    font-weight: 700;
    outline: none;
}

#after-game-over button:hover {
    background-color: rgb(145, 116, 97);
}

@media only screen and (max-width: 450px) {
    #ptop {
        padding: 0 10%;
    }

    .elem {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    .box {
        margin-top: 5px;
        font-size: 14px; /* Adjusted font size */
    }

    #pbottom {
        padding: 10px;
    }

    .bubble {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    #after-game-over button {
        padding: .6rem 1rem;
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    #ptop {
        padding: 0 5%;
    }

    .elem {
        flex-direction: column;
        align-items: start;
        gap: 3px;
    }

    .box {
        margin-top: 3px;
        font-size: 12px; /* Adjusted font size */
    }

    #pbottom {
        padding: 5px;
    }

    .bubble {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    #after-game-over h2 {
        font-size: 1.2rem; /* Adjusted font size */
    }

    #after-game-over button {
        padding: .5rem .8rem;
        font-size: 12px;
    }
}
