@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 2em;
    background-color: rgb(106, 51, 138);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

#wrapper h1 {
    text-align: center;
    color: aliceblue;
}

form {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 7px;
}

form input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 15px;
    font-weight: 400;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

form button {
    background-color: rgb(255, 188, 255);
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 0px 7px 7px 0px;
    border: none;
    cursor: pointer;
    height: 60px;
    transition: background-color 0.3s ease-in-out;
}

form button:hover {
    background-color: rgb(237, 160, 237);
}

#view-more-btn {
    padding: 10px 20px;
    background-color: rgb(255, 188, 255);
    border-radius: 5px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease-in-out;
}

#view-more-btn:hover {
    background-color: rgb(237, 160, 237);
}

#search-result {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

#search-result a {
    display: block;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out;
}

#search-result a img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

#search-result a:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 568px) {
    h1{
        font-size: 1.5em;
    }
    form{
        gap: 1rem;
        flex-direction: column;
        background-color: transparent;
    }
    form input{
        background-color: rgb(255, 255, 255, 0.2);
        border-radius: 7px;
        padding: 20px;
    }
    form button{
        border-radius: 7px;
    }
    #search-result {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 450px) {
    #search-result {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 400px) {
    #search-result {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}
